<div class="navBar">
  <img src="assets/images/Bond-Logo.jpeg" alt="bondLogo" class="bondLogo" />
  <button mat-button class="navBarLinks">Home</button>
  <button mat-button class="navBarLinks" (click)="openProfile()">
    Profile
  </button>
  <div class="logoutButtonContainer">
    <button mat-button class="navBarLinks logoutButton" (click)="logOut()">
      Logout
    </button>
  </div>
</div>
<div class="movieCardsCenter">
  <div class="movieCardsContainer">
    <mat-card *ngFor="let movie of movies" class="movieCard">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle
          >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
        >
      </mat-card-header>
      <img
        src="{{ movie.ImageURL2 }}"
        alt="{{ movie.Title }}"
        class="movieCardImage"
      />
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          (click)="getActor(movie)"
          [ngStyle]="{ 'background-color': '#2B2B2B', color: 'white' }"
          class="actorButton"
        >
          Actor
        </button>
        <button
          mat-button
          color="primary"
          (click)="getDirector(movie)"
          [ngStyle]="{ 'background-color': '#2B2B2B', color: 'white' }"
          class="directorButton"
        >
          Director
        </button>
        <button
          mat-button
          color="primary"
          (click)="getMovie(movie)"
          [ngStyle]="{ 'background-color': '#2B2B2B', color: 'white' }"
          class="synopsisButton"
        >
          Synopsis
        </button>
        <div class="iconContainer">
          <mat-icon
            *ngIf="isFavourited(movie) === true"
            (click)="removeFavourite(movie)"
            class="icon"
            >favorite</mat-icon
          >
          <mat-icon
            *ngIf="isFavourited(movie) === false"
            (click)="favouriteMovie(movie)"
            class="icon"
            [ngStyle]="{ color: '#2B2B2B' }"
            >favorite_border</mat-icon
          >
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
