.movieCardPage {
  border: solid red;
  display: flex;
}

.movieCard {
  // width: 300px;
  display: block;
  margin-bottom: 50px;
  // border: solid grey;
}

.movieCardsContainer {
  width: 95%;
  // border: solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

@media (max-width: 1330px) {
  .movieCardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .movieCardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .movieCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .movieCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.movieCardsCenter {
  display: flex;
  justify-content: center;
}

.favouriteIcon {
  background-color: blue;
}

.actorButton {
  margin-right: 10px;
}

.directorButton {
  margin-right: 10px;
}

.iconContainer {
  // border: solid red;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  transform: scale(1.5);
  margin-left: 20px;
  color: #2b2b2b;
}

.logoutButton {
  margin-right: 40px;
}

.logoutButtonContainer {
  // border: solid red;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bondLogo {
  width: 200px;
  margin-left: 40px;
}
