.loginComponent {
  display: flex;
  justify-content: center;
}

.loginButton {
  width: 50px;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
