<mat-card class="loginComponent">
  <mat-card-content>
    <form class="formContainer">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="buttonContainer">
    <button
      mat-raised-button
      (click)="loginUser()"
      color="primary"
      [ngStyle]="{ 'background-color': '#2B2B2B', color: 'white' }"
      class="loginButton"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>
