<!-- This gets rendered into app-route inside index.html -->
<div class="main-page">
  <div class="loginSignUp">
    <h1>Welcome to myBondFlix!</h1>

    <div class="buttonsContainer">
      <button
        mat-raised-button
        color="primary"
        style="margin-right: 10px"
        (click)="openUserRegistrationDialog()"
      >
        Sign Up
      </button>
      <button mat-raised-button color="primary" (click)="openUserLoginDialog()">
        Login
      </button>
    </div>
  </div>
</div>
