.profileOpenButton {
  border: solid grey;
  border-radius: 18px;
  height: 40px;
  width: 100px;
  box-sizing: border-box;
}

.accountInfoContainer {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.accountInfo {
  border: solid grey 2px;
  width: 700px;
  min-width: none;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-top: 30px;
  background-color: white;
}

.accountInfoButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150px;
  margin-bottom: 30px;
}

.accountDetails {
  margin-left: 3%;
  margin-right: 3%;
}

.infoContainer {
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.textHidden {
  opacity: 0;
}

.updateInfoButton {
  font-size: 15px;
  margin-bottom: 20px;
}

.deleteAccountButton {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}

.favouritesTitleContainer {
  margin-top: 100px;
  // border: solid red;
  display: flex;
  justify-content: center;
  background-color: white;
}

.favouritesContainer {
  margin-top: 30px;
  // border: solid red;
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
}

.movieCardPage {
  border: solid red;
  display: flex;
}

.movieCard {
  // width: 300px;
  display: block;
  margin-bottom: 50px;
  // border: solid grey;
}

.movieCardsContainer {
  width: 95%;
  // border: solid red;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

@media (max-width: 1330px) {
  .movieCardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .movieCardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .movieCardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .movieCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.movieCardsCenter {
  display: flex;
  justify-content: center;
}

.favouriteIcon {
  background-color: blue;
}

.actorButton {
  margin-right: 10px;
}

.directorButton {
  margin-right: 10px;
}

.iconContainer {
  // border: solid red;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  transform: scale(1.5);
  margin-left: 20px;
  color: #2b2b2b;
}
