<div style="display: flex" class="detailsComponent">
  <mat-card>
    <mat-card-header class="detailsHeaderContainer">
      <mat-card-title class="detailsTitle">{{
        actorDetails.actorName
      }}</mat-card-title>
    </mat-card-header>
    <img src="{{ actorDetails.actorImage }}" class="detailsImage" />
    <mat-card-content class="detailsPlot">{{
      actorDetails.actorBio
    }}</mat-card-content>
    <mat-card-actions class="detailsActions"> </mat-card-actions>
  </mat-card>
</div>
